global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend ldaps_frontend
    bind *:636
    mode tcp
    default_backend ldaps_backend

backend ldaps_backend
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect port 636
    server ldap1 ldap1.fis.epn.edu.ec:636 check inter 2s fall 2 rise 2
    server ldap2 ldap2.fis.epn.edu.ec:636 check inter 2s fall 2 rise 2

listen monitoring
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats show-legends
    http-request use-service prometheus-exporter if { path /metrics }
